.video {
  margin-top: 4.5%;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.player {
  width: 70%;
  height: 100%;
  margin-left: 6px;
  margin-right: 20px;
  float: left;
  overflow-y: hidden;
}

.playerBox {
  width: 100%;
  height: 74%;
}

.text {
  height: auto;
}

.playlist {
  float: right;
  width: 27%;
  height: 100%;
}

.list {
  list-style: none;
  padding-top: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.title {
  color: black;
}

.channelTitle {
  color: #bebebe;
}

.shuffleButton {
  position: relative;
  border: none;
  display: block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin-top: 20px;
  text-align: left;
}

.w-btn-indigo {
  background-color: aliceblue;
  color: #1e6b7b;
}